@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerSite1.Models.Pages.UtbPage

<div>
  @Html.PropertyFor(m => m.MainBody)
</div>

<!doctype html>
<html class="no-js" lang="sv-SE" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):(o[e]||(o[e]=[]),void o[e].push(n))}var r=e("ee").create(),o={};n.exports=t,t.ee=r,r.q=o},{ee:"QJf3ax"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=(e(2),window),f=u.document,s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-632.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6189932/659646/css/fonts.css" />
    <link rel="icon" type="image/png" href="http://www.newton.se/content/themes/newton/assets/img/pngs/favicon.png" sizes="96x96">

    <!-- This site is optimized with the Yoast WordPress SEO plugin v2.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Utbildningar - Newton</title>
    <link rel="canonical" href="http://www.newton.se/utbildningar/" />
    <meta property="og:locale" content="sv_SE" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Utbildningar - Newton" />
    <meta property="og:url" content="http://www.newton.se/utbildningar/" />
    <meta property="og:site_name" content="Newton" />
    <meta property="og:image" content="http://www.newton.se/wp/../shared/2014/12/skissbilder5.png" />
    <script type='application/ld+json'>
        {"@@context":"http:\/\/schema.org","@@type":"WebSite","url":"http:\/\/www.newton.se\/","name":"Newton"}
    </script>
    <!-- / Yoast WordPress SEO plugin. -->

    <link rel='stylesheet' id='roots_css-css' href='http://www.newton.se/content/themes/newton/assets/css/main.min.css?7c7c8a7123978ae40f47d8b99fc817a4' type='text/css' media='all' />
    <!-- This site uses the Google Analytics by Yoast plugin v5.4 - Universal disabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
    <script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-11298044-1']);
	_gaq.push(['_gat._forceSSL']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

    </script>
    <!-- / Google Analytics by Yoast -->
    <script type='text/javascript' src='http://www.newton.se/content/themes/newton/assets/js/vendor/modernizr.min.js'></script>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.newton.se/wp/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.newton.se/wp/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.1.5" />
    <link rel='shortlink' href='http://www.newton.se/?p=35' />
    <script>window.jQuery || document.write('<script src="http://www.newton.se/content/themes/newton/assets/vendor/jquery/dist/jquery.min.js?1.11.1"><\/script>')</script>
    <link rel="alternate" type="application/rss+xml" title="Newton Feed" href="http://www.newton.se/feed/">
</head>



<body class="page page-id-35 page-parent page-template page-template-template-educations page-template-template-educations-php  has-submenu utbildningar sidebar-primary">

    <!--[if lt IE 8]>
      <div class="alert alert-warning">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.    </div>
    <![endif]-->


    <header class="header" role="banner" style="background-image:url('http://www.newton.se/wp/../shared/2014/12/skissbilder5-1440x564.png');" )>


        <a class="logo" href="http://www.newton.se/">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 283.5 141.7" enable-background="new 0 0 283.5 141.7" xml:space="preserve"><path fill="#FFFFFF" d="M243.8 55H242v-0.6h4.2V55h-1.8v5.7h-0.7V55zM247.3 54.4h1.1l1.9 5.7 1.9-5.7h1.1v6.2h-0.7V55l-2 5.7h-0.9l-1.9-5.7v5.7h-0.6V54.4z" /><path fill="#FFFFFF" d="M38.7 82.1c0-1.6 0-29.1 0-29.1l25.9 38.8c0 0 0.3 0.3 0.7 0.3 0.1 0 2.5 0 2.5 0 0.3 0 0.5-0.2 0.5-0.5 0 0 0-33.7 0-35.1 0-1.6 0.3-3.9 0.3-3.9h0c0.3-2.6 2.6-4.6 5.2-4.6l0.2 0c0.3 0 0.5-0.2 0.5-0.5V47c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-2.7 0.3-4.3 0.3v0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-2.6 0-2.6 0 -0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5l0.2 0c2.7 0 4.9 2 5.2 4.6h0c0 0 0.3 2.3 0.3 3.9l0 23.6L43.5 46.9c0 0-0.3-0.4-1-0.4H41c-1 0-2.7 0.3-4.3 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-1.8 0-1.8 0 -0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5l0.2 0c2.7 0 4.9 2 5.2 4.6h0c0 0 0.3 2.3 0.3 3.9 0 0 0 23.8 0 25.5 0 1.6-0.3 3.9-0.3 3.9l0 0c-0.3 2.6-2.6 4.6-5.2 4.6l-0.2 0c-0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5 0 0 2 0 2.6 0 1 0 2.7-0.3 4.3-0.3l0 0c1.6 0 3.3 0.3 4.3 0.3 0.6 0 2.6 0 2.6 0 0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5l-0.2 0c-2.7 0-4.9-2-5.2-4.6l0 0C38.9 86 38.7 83.7 38.7 82.1L38.7 82.1zM206.2 82.8c-0.8 2-1.9 3.8-3.2 5.3 -1.4 1.5-3 2.6-4.9 3.5 -1.9 0.8-4 1.3-6.3 1.3 -2.2 0-4.2-0.4-6.1-1.1 -1.8-0.7-3.4-1.8-4.7-3.1 -1.3-1.3-2.4-3-3.1-4.9 -0.7-1.9-1.1-4-1.1-6.2v-0.7c0-2.4 0.4-4.5 1.2-6.6 0.8-2 1.9-3.8 3.2-5.3 1.4-1.5 3-2.6 5-3.5 1.9-0.8 4-1.3 6.3-1.3 2.2 0 4.2 0.4 6.1 1.1 1.8 0.7 3.4 1.8 4.7 3.1 1.3 1.3 2.4 3 3.1 4.8 0.7 1.9 1.1 4 1.1 6.3v0.7C207.4 78.6 207 80.8 206.2 82.8zM199.9 76.5c0-9.6-2.6-14.4-7.8-14.4 -5.2 0-7.8 4.8-7.8 14.4 0 9.6 2.6 14.4 7.8 14.4C197.3 90.9 199.9 86.1 199.9 76.5zM138.9 92.5 165.8 62.5c0.9 0 8.3 0 8.3 0 0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-8.1 0-8.3 0 -0.3 0-0.3-0.3-0.3-0.3s0-8.1 0-9.1c0-0.7-0.7-0.4-0.7-0.4s-3.8 1.9-4.2 2.1c-0.6 0.3-0.7 0.9-0.7 0.9s-0.9 5.3-1.1 6c-0.2 0.8-0.8 0.8-0.8 0.8l-15.2 0c-0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5l1.4 0c1.4 0 2.5 1.1 2.5 2.5 0 0.3-0.1 0.6-0.2 0.9l-6.1 16.9 -0.3 1.3 -0.3-1.3 -5.5-14.9 -0.7-2c-0.1-0.3-0.2-0.6-0.2-0.9 0-1.4 1.1-2.5 2.5-2.5l1 0c0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-2.7 0.3-4.3 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-2.6 0-2.6 0 -0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5l1.5 0c1.4 0 2.5 1.1 2.5 2.5 0 0.3 0 0.5-0.1 0.8l-0.5 1.5 -5.4 15.4 -0.3 1.3 -0.3-1.3 -6.2-16 -0.3-0.9c-0.1-0.3-0.2-0.6-0.2-0.9 0-1.4 1.1-2.5 2.5-2.5l1 0c0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-3.4 0.3-5 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5h0c0.4 0 3.7 0.1 4.4 2l11.1 27.1 0.2 0.6c0 0 0.2 0.4 0.5 0.4 0.3 0 1.3 0 1.6 0 0.4 0 0.6-0.4 0.6-0.4l0.2-0.6 7.4-21.4 0.3-1.3 0.3 1.3 8 21.4 0.2 0.6c0 0 0.2 0.4 0.5 0.4 0.3 0 1.3 0 1.6 0 0.4 0 0.6-0.4 0.6-0.4l0.2-0.6 10-27.1c0.7-1.7 2.5-2 4.3-2h4.3c0.4 0 0.3 0.3 0.3 0.3v24.9c0.7 1.7 1.8 2.9 3.2 3.8 1.4 0.9 3.2 1.3 5.3 1.3 2.2 0 4-0.7 5.4-2 1.4-1.3 2.1-3.1 2.1-5.2v-1.6c0-0.8-0.2-1.5-0.7-1.9 -0.4-0.5-0.9-0.7-1.5-0.7 0 0-0.3 0-0.3 0.3 0 0.3 0 3.9 0 3.9 0 1.5-0.3 2.6-0.9 3.4s-1.4 1.2-2.5 1.2c-2.2 0-3.3-1.9-3.3-5.5V62.8C165.5 62.8 165.5 62.5 165.8 62.5zM240.1 87.9c0 2.3 3 2.6 3.4 2.6l1 0c0.3 0 0.5 0.2 0.5 0.5v0.7c0 0.3-0.2 0.5-0.5 0.5 0 0-3.2 0-3.8 0 -0.9 0-2.5-0.3-4.1-0.3l0 0c-1.5 0-3.1 0.3-4 0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5l1 0c0.4 0 3.4-0.3 3.4-2.6l0-20.9c-1-2.3-2.6-3.5-4.9-3.5 -1.8 0-3.4 0.7-4.8 2 -1.4 1.3-2.5 3.2-3.3 5.7 0 0 0 14.3 0 16.6 0 2.3 3 2.6 3.4 2.6l1 0c0.3 0 0.5 0.2 0.5 0.5v0.7c0 0.3-0.2 0.5-0.5 0.5 0 0-3.2 0-3.8 0 -0.9 0-2.5-0.3-4.1-0.3l0 0c-1.5 0-3.1 0.3-4 0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5l1 0c0.4 0 3.4-0.3 3.4-2.6 0-2.3 0-22.9 0-22.9 0-1.4-1.1-2.5-2.5-2.5l-1.5 0c-0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5 0 0 2 0 2.6 0l7.9 0c0 0 0.3 0 0.3 0.3 0 0.3 0 6.2 0 6.2 2.6-4.8 6.2-7.2 10.8-7.2 2.1 0 4 0.6 5.6 1.8s2.8 2.9 3.6 5.1L240.1 87.9zM102.5 74.3c0 0 0 0.7-0.7 0.7 0 0-19.9 0-20.2 0 -0.3 0-0.3 0.3-0.3 0.3v2.3c0 4 0.8 7 2.5 9.3 1.7 2.2 3.9 3.3 6.8 3.3 2.4 0 4.3-0.7 6-2.2 1.6-1.5 2.7-3.6 3.3-6.3 0 0 0.1-0.5 0.5-0.5 0.4 0 0.5 0 0.5 0 0.4 0 0.7 0.2 1 0.5 0.3 0.3 0.5 1 0.4 1.4 -0.2 1.1-0.8 2.8-1.6 4 -0.8 1.2-1.7 2.2-2.8 3.1 -1.1 0.8-2.4 1.5-3.8 2 -1.4 0.5-2.9 0.7-4.5 0.7 -4.9 0-8.8-1.4-11.5-4.1C75.4 86 74 82.1 74 77.2v-0.7c0-2.3 0.4-4.5 1.2-6.5 0.8-2 1.9-3.7 3.2-5.2 1.4-1.5 3-2.6 5-3.4 1.9-0.8 4-1.2 6.3-1.2 1.9 0 3.6 0.3 5.1 1 1.5 0.7 2.9 1.7 4 2.9 1.1 1.3 2 2.8 2.7 4.5C102.1 70.4 102.4 72.2 102.5 74.3L102.5 74.3zM93.6 64.8c-1.1-1.7-2.7-2.6-4.6-2.6 -2 0-3.6 0.9-5 2.8 -1.3 1.9-2.2 4.5-2.5 8 0 0 12.5 0 13.2 0 0.7 0 0.7-0.7 0.7-0.7C95.3 69 94.8 66.5 93.6 64.8z" /></svg>
        </a>

        <button type="button" class="nav-mobile-toggle jq-nav-mobile-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <nav class="nav-desktop" role="navigation">

            <div class="menu-toppmeny-container">
                <ul id="menu-toppmeny" class="menu">
                    <li id="menu-item-1503" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1503"><a href="/utbildningar/filter/yh/">Yh-utbildningar</a></li>
                    <li id="menu-item-1504" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1504"><a href="/utbildningar/filter/diplom/">Diplomutbildningar</a></li>
                    <li id="menu-item-1869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1869"><a href="http://www.newton.se/tjanster/">Företag</a></li>
                    <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://www.newton.se/om-newton/">Om Newton</a></li>
                    <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1666"><a href="http://www.newton.se/om-newton/aktuellt/">Aktuellt</a></li>
                    <li id="menu-item-1668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1668"><a href="http://www.newton.se/om-newton/kontakta-oss/">Kontakt</a></li>
                    <li id="menu-item-1670" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1670"><a href="/?s=">Sök</a></li>
                </ul>
            </div>
        </nav>

        <nav class="nav-submenu">
            <div class="nav-submenu-fill left" style="width: 100%;"></div>
            <div class="nav-submenu-items">
                <a href="http://www.newton.se/utbildningar/" class="active">
                    Utbildningar                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
                <a href="http://www.newton.se/utbildningar/andra-om-oss/" class="">
                    Andra om oss                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
                <a href="http://www.newton.se/utbildningar/yh-eller-diplom/" class="">
                    Yh eller Diplom?                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
                <a href="http://www.newton.se/utbildningar/fragor-svar/" class="">
                    Frågor & svar                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
                <a href="http://www.newton.se/utbildningar/var-pedagogik/" class="">
                    Vår pedagogik                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
                <a href="http://www.newton.se/utbildningar/samarbetspartners/" class="">
                    Samarbetspartners                  <div class="background-mask-holder">
                        <div class="background-mask"></div>
                    </div>
                </a>
            </div>
            <div class="nav-submenu-fill right"></div>
        </nav>

        <div class="page-divider">
            <div id="top-searchform" style="display: none;">
                <form role="search" method="get" class="search-form form-inline" action="http://www.newton.se/">
                    <label class="sr-only">Search for:</label>
                    <div class="input-group">
                        <input type="search" value="" name="s" class="search-field form-control input-lg" placeholder="Sök på Newton">
                        <span class="input-group-btn">
                            <button type="submit" class="search-submit btn btn-primary btn-lg">
                                Sök <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <i class="page-icon"></i>

        <h1 class="page-title">
            Utbildningar
        </h1>





    </header>

    <nav class="nav-mobile">

        <div>

            <div class="nav-mobile-top">

                <div class="nav-mobile-top-close jq-nav-mobile-close">
                    <button type="button" class="nav-mobile-toggle jq-nav-mobile-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-close"></i>
                    </button>
                </div>

                <div class="nav-mobile-top-logo">
                    <a class="logo" href="http://www.newton.se/">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 283.5 141.7" enable-background="new 0 0 283.5 141.7" xml:space="preserve"><path fill="#FFFFFF" d="M243.8 55H242v-0.6h4.2V55h-1.8v5.7h-0.7V55zM247.3 54.4h1.1l1.9 5.7 1.9-5.7h1.1v6.2h-0.7V55l-2 5.7h-0.9l-1.9-5.7v5.7h-0.6V54.4z" /><path fill="#FFFFFF" d="M38.7 82.1c0-1.6 0-29.1 0-29.1l25.9 38.8c0 0 0.3 0.3 0.7 0.3 0.1 0 2.5 0 2.5 0 0.3 0 0.5-0.2 0.5-0.5 0 0 0-33.7 0-35.1 0-1.6 0.3-3.9 0.3-3.9h0c0.3-2.6 2.6-4.6 5.2-4.6l0.2 0c0.3 0 0.5-0.2 0.5-0.5V47c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-2.7 0.3-4.3 0.3v0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-2.6 0-2.6 0 -0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5l0.2 0c2.7 0 4.9 2 5.2 4.6h0c0 0 0.3 2.3 0.3 3.9l0 23.6L43.5 46.9c0 0-0.3-0.4-1-0.4H41c-1 0-2.7 0.3-4.3 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-1.8 0-1.8 0 -0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5l0.2 0c2.7 0 4.9 2 5.2 4.6h0c0 0 0.3 2.3 0.3 3.9 0 0 0 23.8 0 25.5 0 1.6-0.3 3.9-0.3 3.9l0 0c-0.3 2.6-2.6 4.6-5.2 4.6l-0.2 0c-0.3 0-0.5 0.2-0.5 0.5v0.7c0 0.3 0.2 0.5 0.5 0.5 0 0 2 0 2.6 0 1 0 2.7-0.3 4.3-0.3l0 0c1.6 0 3.3 0.3 4.3 0.3 0.6 0 2.6 0 2.6 0 0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5l-0.2 0c-2.7 0-4.9-2-5.2-4.6l0 0C38.9 86 38.7 83.7 38.7 82.1L38.7 82.1zM206.2 82.8c-0.8 2-1.9 3.8-3.2 5.3 -1.4 1.5-3 2.6-4.9 3.5 -1.9 0.8-4 1.3-6.3 1.3 -2.2 0-4.2-0.4-6.1-1.1 -1.8-0.7-3.4-1.8-4.7-3.1 -1.3-1.3-2.4-3-3.1-4.9 -0.7-1.9-1.1-4-1.1-6.2v-0.7c0-2.4 0.4-4.5 1.2-6.6 0.8-2 1.9-3.8 3.2-5.3 1.4-1.5 3-2.6 5-3.5 1.9-0.8 4-1.3 6.3-1.3 2.2 0 4.2 0.4 6.1 1.1 1.8 0.7 3.4 1.8 4.7 3.1 1.3 1.3 2.4 3 3.1 4.8 0.7 1.9 1.1 4 1.1 6.3v0.7C207.4 78.6 207 80.8 206.2 82.8zM199.9 76.5c0-9.6-2.6-14.4-7.8-14.4 -5.2 0-7.8 4.8-7.8 14.4 0 9.6 2.6 14.4 7.8 14.4C197.3 90.9 199.9 86.1 199.9 76.5zM138.9 92.5 165.8 62.5c0.9 0 8.3 0 8.3 0 0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-8.1 0-8.3 0 -0.3 0-0.3-0.3-0.3-0.3s0-8.1 0-9.1c0-0.7-0.7-0.4-0.7-0.4s-3.8 1.9-4.2 2.1c-0.6 0.3-0.7 0.9-0.7 0.9s-0.9 5.3-1.1 6c-0.2 0.8-0.8 0.8-0.8 0.8l-15.2 0c-0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5l1.4 0c1.4 0 2.5 1.1 2.5 2.5 0 0.3-0.1 0.6-0.2 0.9l-6.1 16.9 -0.3 1.3 -0.3-1.3 -5.5-14.9 -0.7-2c-0.1-0.3-0.2-0.6-0.2-0.9 0-1.4 1.1-2.5 2.5-2.5l1 0c0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-2.7 0.3-4.3 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-2.6 0-2.6 0 -0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5l1.5 0c1.4 0 2.5 1.1 2.5 2.5 0 0.3 0 0.5-0.1 0.8l-0.5 1.5 -5.4 15.4 -0.3 1.3 -0.3-1.3 -6.2-16 -0.3-0.9c-0.1-0.3-0.2-0.6-0.2-0.9 0-1.4 1.1-2.5 2.5-2.5l1 0c0.3 0 0.5-0.2 0.5-0.5v-0.7c0-0.3-0.2-0.5-0.5-0.5 0 0-2 0-2.6 0 -1 0-3.4 0.3-5 0.3l0 0c-1.6 0-3.3-0.3-4.3-0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5 0.2-0.5 0.5V62c0 0.3 0.2 0.5 0.5 0.5h0c0.4 0 3.7 0.1 4.4 2l11.1 27.1 0.2 0.6c0 0 0.2 0.4 0.5 0.4 0.3 0 1.3 0 1.6 0 0.4 0 0.6-0.4 0.6-0.4l0.2-0.6 7.4-21.4 0.3-1.3 0.3 1.3 8 21.4 0.2 0.6c0 0 0.2 0.4 0.5 0.4 0.3 0 1.3 0 1.6 0 0.4 0 0.6-0.4 0.6-0.4l0.2-0.6 10-27.1c0.7-1.7 2.5-2 4.3-2h4.3c0.4 0 0.3 0.3 0.3 0.3v24.9c0.7 1.7 1.8 2.9 3.2 3.8 1.4 0.9 3.2 1.3 5.3 1.3 2.2 0 4-0.7 5.4-2 1.4-1.3 2.1-3.1 2.1-5.2v-1.6c0-0.8-0.2-1.5-0.7-1.9 -0.4-0.5-0.9-0.7-1.5-0.7 0 0-0.3 0-0.3 0.3 0 0.3 0 3.9 0 3.9 0 1.5-0.3 2.6-0.9 3.4s-1.4 1.2-2.5 1.2c-2.2 0-3.3-1.9-3.3-5.5V62.8C165.5 62.8 165.5 62.5 165.8 62.5zM240.1 87.9c0 2.3 3 2.6 3.4 2.6l1 0c0.3 0 0.5 0.2 0.5 0.5v0.7c0 0.3-0.2 0.5-0.5 0.5 0 0-3.2 0-3.8 0 -0.9 0-2.5-0.3-4.1-0.3l0 0c-1.5 0-3.1 0.3-4 0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5l1 0c0.4 0 3.4-0.3 3.4-2.6l0-20.9c-1-2.3-2.6-3.5-4.9-3.5 -1.8 0-3.4 0.7-4.8 2 -1.4 1.3-2.5 3.2-3.3 5.7 0 0 0 14.3 0 16.6 0 2.3 3 2.6 3.4 2.6l1 0c0.3 0 0.5 0.2 0.5 0.5v0.7c0 0.3-0.2 0.5-0.5 0.5 0 0-3.2 0-3.8 0 -0.9 0-2.5-0.3-4.1-0.3l0 0c-1.5 0-3.1 0.3-4 0.3 -0.6 0-3.8 0-3.8 0 -0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5l1 0c0.4 0 3.4-0.3 3.4-2.6 0-2.3 0-22.9 0-22.9 0-1.4-1.1-2.5-2.5-2.5l-1.5 0c-0.3 0-0.5-0.2-0.5-0.5v-0.7c0-0.3 0.2-0.5 0.5-0.5 0 0 2 0 2.6 0l7.9 0c0 0 0.3 0 0.3 0.3 0 0.3 0 6.2 0 6.2 2.6-4.8 6.2-7.2 10.8-7.2 2.1 0 4 0.6 5.6 1.8s2.8 2.9 3.6 5.1L240.1 87.9zM102.5 74.3c0 0 0 0.7-0.7 0.7 0 0-19.9 0-20.2 0 -0.3 0-0.3 0.3-0.3 0.3v2.3c0 4 0.8 7 2.5 9.3 1.7 2.2 3.9 3.3 6.8 3.3 2.4 0 4.3-0.7 6-2.2 1.6-1.5 2.7-3.6 3.3-6.3 0 0 0.1-0.5 0.5-0.5 0.4 0 0.5 0 0.5 0 0.4 0 0.7 0.2 1 0.5 0.3 0.3 0.5 1 0.4 1.4 -0.2 1.1-0.8 2.8-1.6 4 -0.8 1.2-1.7 2.2-2.8 3.1 -1.1 0.8-2.4 1.5-3.8 2 -1.4 0.5-2.9 0.7-4.5 0.7 -4.9 0-8.8-1.4-11.5-4.1C75.4 86 74 82.1 74 77.2v-0.7c0-2.3 0.4-4.5 1.2-6.5 0.8-2 1.9-3.7 3.2-5.2 1.4-1.5 3-2.6 5-3.4 1.9-0.8 4-1.2 6.3-1.2 1.9 0 3.6 0.3 5.1 1 1.5 0.7 2.9 1.7 4 2.9 1.1 1.3 2 2.8 2.7 4.5C102.1 70.4 102.4 72.2 102.5 74.3L102.5 74.3zM93.6 64.8c-1.1-1.7-2.7-2.6-4.6-2.6 -2 0-3.6 0.9-5 2.8 -1.3 1.9-2.2 4.5-2.5 8 0 0 12.5 0 13.2 0 0.7 0 0.7-0.7 0.7-0.7C95.3 69 94.8 66.5 93.6 64.8z" /></svg>
                    </a>
                </div>

            </div>


            <div data-url="http://www.newton.se/" class="nav-mobile-page jq-nav-mobile-page">

                Hem

            </div>


            <div data-url="http://www.newton.se/utbildningar/" class="nav-mobile-page jq-nav-mobile-page">

                Utbildningar

                <div class="sub-pages">


                    <a href="http://www.newton.se/utbildningar/">Utbildningar</a>


                    <a href="http://www.newton.se/utbildningar/andra-om-oss/">Andra om oss</a>


                    <a href="http://www.newton.se/utbildningar/yh-eller-diplom/">Yh eller Diplom?</a>


                    <a href="http://www.newton.se/utbildningar/fragor-svar/">Frågor & svar</a>


                    <a href="http://www.newton.se/utbildningar/var-pedagogik/">Vår pedagogik</a>


                    <a href="http://www.newton.se/utbildningar/samarbetspartners/">Samarbetspartners</a>


                </div>


            </div>


            <div data-url="http://www.newton.se/om-newton/" class="nav-mobile-page jq-nav-mobile-page">

                Om Newton

                <div class="sub-pages">


                    <a href="http://www.newton.se/om-newton/">Om Newton</a>


                    <a href="http://www.newton.se/om-newton/alumni/">Alumni</a>


                    <a href="http://www.newton.se/om-newton/aktuellt/">Aktuellt</a>


                    <a href="http://www.newton.se/om-newton/sir-isaac-newton/">Sir Isaac Newton</a>


                    <a href="http://www.newton.se/om-newton/lediga-tjanster/">Lediga tjänster</a>


                    <a href="http://www.newton.se/om-newton/kontakta-oss/">Kontakta Newton</a>


                    <a href="http://www.newton.se/om-newton/ledning/">Affärsidé och Ledning</a>


                </div>


            </div>


            <div data-url="http://www.newton.se/om-newton/aktuellt/" class="nav-mobile-page jq-nav-mobile-page">

                Aktuellt

            </div>


            <div data-url="http://www.newton.se/tjanster/" class="nav-mobile-page jq-nav-mobile-page">

                Företag

                <div class="sub-pages">


                    <a href="http://www.newton.se/tjanster/">Företag</a>


                    <a href="http://www.newton.se/tjanster/uppdragsutbildningar/">Uppdragsutbildningar</a>


                    <a href="http://www.newton.se/tjanster/seminarier/">Seminarier</a>


                    <a href="http://www.newton.se/tjanster/lets-talk-about/">Let's talk about</a>


                    <a href="http://www.newton.se/tjanster/auktorisation/">AFF-Auktorisation</a>


                </div>


            </div>


            <div data-url="http://www.newton.se/om-newton/kontakta-oss/" class="nav-mobile-page jq-nav-mobile-page">

                Kontakt

            </div>


            <div data-url="/?s=" class="nav-mobile-page jq-nav-mobile-page">

                Sök

            </div>


        </div>

    </nav>

    <div class="wrap container" role="document">
        <div class="content">
            <main class="main" role="main">

                <div class="educations-filter-toggler">
                    <a href="#" class="btn btn-default show-filter jq-show-filter">Visa sökfiltret</a>
                    <a href="#" class="btn btn-default hide-filter jq-hide-filter hidden">Dölj sökfiltret</a>
                </div>

                <div class="educations-filter">

                    <div class="row">

                        <div class="col-sm-3">
                            <h3>Utbildning</h3>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="type-yh" /> Yrkeshögskoleutbildning</label>
                            </div>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="type-diplom" /> Diplomutbildning</label>
                            </div>


                        </div>

                        <div class="col-sm-4">
                            <h3>Område</h3>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="subject-it" /> IT</label>
                            </div>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="subject-fastighet" /> Fastighet</label>
                            </div>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="subject-forsaljning" /> Försäljning</label>
                            </div>


                        </div>

                        <div class="col-sm-3">
                            <h3>Stad</h3>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="city-stockholm" /> Stockholm</label>
                            </div>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="city-goteborg" /> Göteborg</label>
                            </div>


                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="city-malmo" /> Malmö</label>
                            </div>


                        </div>

                        <div class="col-sm-2">
                            <h3>&nbsp;</h3>
                            <div class="checkbox small">
                                <label><input type="checkbox" class="jq-filter" name="other-apply" /> Öppen för ansökan</label>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="educations-list">

                    <div class="grid">


                        <a href="http://www.newton.se/utbildning/systemutvecklare-net-goteborg/" class="grid-item educations-item jq-education yh type-yh subject-it city-goteborg other-apply">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag">
                                    Ansök nu
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Systemutvecklare .NET
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Göteborg
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/systemutvecklare-net-stockholm/" class="grid-item educations-item jq-education yh type-yh subject-it city-stockholm other-standby">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag educations-item-tag-wide">
                                    Ansök om reservplats
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Systemutvecklare .NET
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/systemutvecklare-java-2/" class="grid-item educations-item jq-education yh type-yh subject-it city-goteborg other-apply">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag">
                                    Ansök nu
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Systemutvecklare JAVA
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Göteborg
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/diplomerad-projektledare-malmo/" class="grid-item educations-item jq-education diplom type-diplom subject-fastighet city-malmo">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Diplomerad Projektledare Bygg/Fastighet
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        diplom
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/vvs-ingenjor/" class="grid-item educations-item jq-education yh type-yh subject-fastighet city-stockholm other-standby">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag educations-item-tag-wide">
                                    Ansök om reservplats
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    VVS-ingenjör
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/systemutvecklare-java/" class="grid-item educations-item jq-education yh type-yh subject-it city-malmo other-apply">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag">
                                    Ansök nu
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Systemutvecklare JAVA
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/systemutvecklare-net-malmo/" class="grid-item educations-item jq-education yh type-yh subject-it city-malmo other-apply">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag">
                                    Ansök nu
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Systemutvecklare .NET
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/diplomerad-fastighetsforvaltare-2/" class="grid-item educations-item jq-education diplom type-diplom subject-fastighet city-goteborg">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Diplomerad Fastighetsförvaltare
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        diplom
                                    </span>

                                    <span class="educations-item-cities">
                                        Göteborg
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/kravanalytikerit/" class="grid-item educations-item jq-education yh type-yh subject-it city-malmo other-apply">

                            <div class="educations-item-inner">

                                <div class="educations-item-tag">
                                    Ansök nu
                                </div>

                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <?xml version="1.0" encoding="utf-8" ?>
                                        <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                        <svg version="1.1"
                                             id="Layer_1" inkscape:version="0.48.1 r9760" sodipodi:docname="noun_project_322.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-240.8 377 74.1 40.9"
                                             enable-background="new -240.8 377 74.1 40.9" xml:space="preserve">
<sodipodi:namedview inkscape:window-maximized="1" inkscape:current-layer="Layer_1" inkscape:window-y="24" inkscape:window-x="0" inkscape:window-height="776" inkscape:pageopacity="0" inkscape:window-width="1280" inkscape:pageshadow="2" id="namedview3134" objecttolerance="10" bordercolor="#666666" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" inkscape:cy="27.577" inkscape:zoom="5.21" inkscape:cx="50" guidetolerance="10" showgrid="false">
	</sodipodi:namedview>
<path id="path3132" inkscape:connector-curvature="0" sodipodi:nodetypes="cssccscsscc" d="M-183,417.9h-49.4
	c-4.6,0-8.4-3.7-8.4-8.4c0-3.9,2.7-7.2,6.3-8.1c1.6-4.1,5.4-7,9.7-7.5c0.5-9.4,8.3-16.9,17.8-16.9c7,0,13.2,4.1,16.1,10.2
	c2.4-1.3,5-2,7.8-2c9,0,16.3,7.3,16.3,16.3C-166.7,410.5-174,417.9-183,417.9z" />
</svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Kravanalytiker IT
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/projektledare/" class="grid-item educations-item jq-education diplom type-diplom subject-fastighet city-stockholm">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Diplomerad Projektledare Bygg/Fastighet
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        diplom
                                    </span>

                                    <span class="educations-item-cities">
                                        Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/teknisk-foretagssaljare/" class="grid-item educations-item jq-education yh type-yh subject-forsaljning city-goteborg city-malmo city-stockholm">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 74.1 47.8" enable-background="new 0 0 74.1 47.8" xml:space="preserve"><g><path d="M14.1 9.3c3 0.8 4.8-0.3 4.8-0.3s16.2-7.2 18.7-8.5c2.5-1.3 5.3 0 5.3 0s10.6 5.8 11.9 6.6c1.3 0.8 2.8 3.8 1.3 6.9 -1.6 3.1-6.2 1-6.2 1L39.5 9.3C32.6 11.4 8.3 30.3 8.3 30.3l-8-1.8C-1.1 13.9 3.9 7.2 3.9 7.2S11.1 8.6 14.1 9.3zM70.5 7.6l-7.1 1.8c0 0-3.2 0.4-4.3 0 0 0 1.1 3.9-0.7 5.8 -1.8 2-3.1 3-5.9 3 -2.8 0-4.2-1.2-5.3-1.9 -1.1-0.7-7.5-4.3-7.5-4.3S30.8 15.6 10.3 32c0 0-2.5 1.6-0.9 4.2 0 0 1.5 2.1 4.5 0 3-2.1 9.5-6.5 9.5-6.5s0.7-0.4 1.1 0c0.4 0.4 0.2 0.7-0.1 1 -0.3 0.3-9 6.5-9 6.5s-1.1 1.3 0.2 2.8c1.3 1.5 2.1 1.6 3.8 0.4 1.8-1.2 9.4-7.2 9.4-7.2s1-0.6 1.5 0.1c0.5 0.7 0.4 0.9 0 1.3 -0.4 0.4-8.6 6.4-8.6 6.4s-1.3 1.3-0.1 2.6c1.2 1.3 2.6 1.5 4.2 0.3s5.8-4.4 5.8-4.4 0.8-0.8 1.6-0.2c0.8 0.6-0.3 1.6-0.3 1.6l-4.7 3.4c0 0-1.3 1.1 0.6 2.6 1.9 1.4 1.9 1.1 3.6 0 1.6-1.1 3.9-2.8 3.9-2.8s-3.4-6.8 1-9.8c0 0 1.8-1.3 3.9-1.3 0 0 0-3.5 3.6-4.6 3.6-1.1 4.8 0.9 4.8 0.9s1.1-1.7 3.4-1.6c2.3 0.1 3.6 1 3.6 1s1.1-1.6 3.7-1.4c2.6 0.1 4.8 3.4 4.8 3.4l8.6-1.7C73.9 28.9 75.3 15.5 70.5 7.6zM63.2 33.8c0 0-0.1-2.8-1.4-3.5 -1.3-0.6-4-1-4.7 1.7l-0.4 0.1c0 0-0.7-1.8-3.5-1.8 0 0-2.5-0.2-2.4 2.7l-0.7 0.1c0 0-1.3-3.3-4.1-2.1 -2.8 1.2-2.7 3.2-1.7 5.5 0 0-0.5 0.4-0.7 0.4 -0.2 0-1.5-2.3-3.5-1.3 0 0-2.8 0.3-1.6 5.3 1.2 5 1.1 4.3 1.1 4.3s0.7 3.1 3.4 2.2c2.7-0.9 2.3-3.1 2.2-3.7 0 0 3 2.2 4.5 1.6 1.6-0.6 2.3-2 2.1-4.6 0 0 1.3 2.5 3.5 1.8 2.3-0.7 2.1-3 2.2-3.3 0 0 0.8 1.8 2.7 1.2C62.3 39.8 62.8 37.4 63.2 33.8z" /></g></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Teknisk Företagssäljare
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Göteborg, Malmö, Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/energi-och-miljosamordnare/" class="grid-item educations-item jq-education yh type-yh subject-fastighet city-malmo">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Energi- och miljösamordnare
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/diplomerad-fastighetsforvaltare/" class="grid-item educations-item jq-education diplom type-diplom subject-fastighet city-malmo city-stockholm">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Diplomerad Fastighetsförvaltare
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        diplom
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö, Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/fastighetsekonom/" class="grid-item educations-item jq-education diplom type-diplom subject-fastighet city-malmo city-stockholm">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Diplomerad Fastighetsekonom
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        diplom
                                    </span>

                                    <span class="educations-item-cities">
                                        Malmö, Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <a href="http://www.newton.se/utbildning/fastighetsforvaltare/" class="grid-item educations-item jq-education yh type-yh subject-fastighet city-goteborg city-malmo city-stockholm">

                            <div class="educations-item-inner">


                                <div class="educations-item-icon">

                                    <i class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 32 20.5" enable-background="new 0 0 32 20.5" xml:space="preserve"><polygon points="16.7 0 0 5.4 0 7.3 16.7 2.6 32 5.7 32 3.5 " /><polyline points="16.7 4.5 0 8.7 0 10.6 16.7 7.1 16.7 7.1 32 9.4 32 7.2 16.7 4.5 " /><polygon points="16.7 9 16.7 9 0 12 0.1 14 16.7 11.6 16.7 11.6 32 13.1 32 10.9 " /><polyline points="16.7 16.1 32 16.8 32 14.6 16.7 13.5 16.7 13.5 0.1 15.3 0.1 17.3 16.7 16.1 " /><polygon points="32 18.3 16.7 18 16.7 18 0.1 18.6 0.1 20.5 32 20.5 " /></svg>
                                    </i>
                                </div>

                                <span class="educations-item-title">
                                    Fastighetsförvaltare
                                </span>

                                <div class="educations-item-meta">

                                    <span class="educations-item-types">
                                        yh
                                    </span>

                                    <span class="educations-item-cities">
                                        Göteborg, Malmö, Stockholm
                                    </span>

                                </div>

                            </div>

                        </a>



                        <div class="educations-no-results hidden">
                            <i>
                                Inga utbildningar matchar din filtrering. Testa att ändra ovan för att se fler eller <a href="/utbildningar/">visa alla utbildningar.</a>
                            </i>
                        </div>

                    </div>

                </div>

                <div class="widget widget-partners widget-horizontal widget-full space-btm-xl">

                    <h3 class="widget-title">
                        Några av våra 200 samarbetspartners
                    </h3>

                    <p class="widget-intro">
                        YH-utbildningar ska leda till jobb. Hos oss får du aktuell, relevant kunskap och träning genom verkliga case, praktikfall. Och mer än 1000 timmars praktik (LIA).    <a href="http://www.newton.se/utbildningar/samarbetspartners/">Klicka här</a> och läs mer om hur vi samarbetar med näringslivet!
                    </p>

                    <div class="widget-content">


                        <a target="_blank" href="http://www.helsingborg.se/Medborgare/Kommun-och-politik/Kommunens-organisation/Forvaltningar-och-namnder/karnfastigheter-/">
                            <img width="65" height="69" src="http://www.newton.se/wp/../shared/2015/01/Helsingborgs-Stad.gif" class="attachment-full wp-post-image" alt="Helsingborgs Stad" />
                        </a>


                        <a target="_blank" href="http://ikaros.se/">
                            <img width="215" height="46" src="http://www.newton.se/wp/../shared/2015/01/ikaros_logo.png" class="attachment-full wp-post-image" alt="ikaros_logo" />
                        </a>


                        <a target="_blank" href="http://tactel.se/">
                            <img width="366" height="104" src="http://www.newton.se/wp/../shared/2015/02/Tactel.png" class="attachment-full wp-post-image" alt="Tactel" />
                        </a>


                        <a target="_blank" href="http://www.castra.se/page/">
                            <img width="233" height="67" src="http://www.newton.se/wp/../shared/2015/01/Castra.gif" class="attachment-full wp-post-image" alt="Castra" />
                        </a>


                        <a target="_blank" href="http://www.coopfastigheter.se">
                            <img width="250" height="110" src="http://www.newton.se/wp/../shared/2015/01/coop-e1421134824321.jpg" class="attachment-full wp-post-image" alt="coop" />
                        </a>


                        <a target="_blank" href="http://skvp.se/">
                            <img width="342" height="92" src="http://www.newton.se/wp/../shared/2015/01/Svenska-kyl-och-värmepumpföreningen.png" class="attachment-full wp-post-image" alt="Svenska kyl och värmepumpföreningen" />
                        </a>


                        <a target="_blank" href="http://presis.se/">
                            <img width="169" height="73" src="http://www.newton.se/wp/../shared/2015/01/Presis.png" class="attachment-full wp-post-image" alt="Presis" />
                        </a>


                        <a target="_blank" href="http://www.helenius.se/">
                            <img width="345" height="146" src="http://www.newton.se/wp/../shared/2015/01/Helenius.jpg" class="attachment-full wp-post-image" alt="Helenius" />
                        </a>


                        <a target="_blank" href="https://www.incoord.se/">
                            <img width="199" height="42" src="http://www.newton.se/wp/../shared/2015/01/Incoord.png" class="attachment-full wp-post-image" alt="Incoord" />
                        </a>


                        <a target="_blank" href="http://www.officeitpartner.se/">
                            <img width="300" height="60" src="http://www.newton.se/wp/../shared/2015/01/Office-IT-Partner-e1420624188224.jpg" class="attachment-full wp-post-image" alt="Office IT Partner" />
                        </a>


                        <a target="_blank" href="https://www.dfind.se/">
                            <img width="104" height="44" src="http://www.newton.se/wp/../shared/2015/02/dfind.png" class="attachment-full wp-post-image" alt="dfind" />
                        </a>


                        <a target="_blank" href="http://www.scoreit.se/">
                            <img width="214" height="36" src="http://www.newton.se/wp/../shared/2015/02/Score-IT.png" class="attachment-full wp-post-image" alt="Score IT" />
                        </a>


                        <a target="_blank" href="http://campido.se/">
                            <img width="60" height="40" src="http://www.newton.se/wp/../shared/2015/01/Campidio-60x40.png" class="attachment-full wp-post-image" alt="Campidio-60x40" />
                        </a>


                        <a target="_blank" href="http://www.centric.eu/SE/Default">
                            <img width="480" height="182" src="http://www.newton.se/wp/../shared/2015/02/centric_logo_x2.png" class="attachment-full wp-post-image" alt="centric_logo_x2" />
                        </a>


                        <a target="_blank" href="http://www.haninge.se/">
                            <img width="149" height="66" src="http://www.newton.se/wp/../shared/2015/02/Haninge-kommun.gif" class="attachment-full wp-post-image" alt="Haninge kommun" />
                        </a>


                    </div>

                </div>

                <div class="educations-puff">
                    <h2>Kan du inte bestämma dig?</h2>
                    <p>Hör av dig till oss så hjälper vi dig att hitta rätt utbildning</p>
                    <a href="http://www.newton.se/om-newton/kontakta-oss/" class="btn btn-lg btn-inverted">Kontakta oss</a>
                </div>
            </main>
        </div><!-- /.content -->
    </div><!-- /.wrap -->

    <footer class="container" role="contentinfo">

        <div class="row">

            <div class="footer-left col-md-12 col-lg-4">

                <div class="footer-contact">
                    <img class="footer-logo" src="http://www.newton.se/content/themes/newton/assets/img/pngs/logo-footer.png" alt="" />
                    <ul class="cleanlist">
                        <li>Telefon: 08-410 456 00</li>
                        <li>E-post: <a href="mailto:utbildning@newton.se">utbildning@newton.se</a></li>
                        <li><a href="http://www.newton.se/om-webbplatsen/">Om webbplatsen</a></li>
                    </ul>
                </div>

                <div class="footer-newsletter">
                    <label>
                        Anmäl dig till vårt nyhetsbrev
                    </label>
                    <script type="text/javascript">
          function MailingListValidation(SubscriberForm) {
            var counter = 0;

            for (i=1; i<=SubscriberForm.pf_CounterMailinglists.value; i++) {
              var checkBoxName = "pf_MailinglistName" + i;
              if (document.getElementsByName(checkBoxName)[0].checked || document.getElementsByName(checkBoxName)[0].type == "hidden") counter++;
            }

            if (counter == 0) {
              alert("En eller flera e-postlistor krävs för detta formulär.");
              return false;
            }
          }
                    </script>
                    <form class="form-inline" name="SubscriberForm" action="http://www.anpdm.com/public/process-subscription-form.aspx?formId=474A5E407840445B4671" onsubmit="return MailingListValidation(this);" method="post">
                        <input class="form-control" type="text" name="pf_Email" placeholder="Ange din e-post" value="" size="30">
                        <input type="checkbox" name="pf_MailinglistName1" style="display: none;" checked value="390161">
                        <input class="btn btn-primary" type="submit" name="Submit" value="Anmäl"><td style="display: none;">
                            <select name="pf_DeliveryFormat" style="display: none;">
                                <option style="display: none;" value="HTML" selected>HTML</option>
                                <option value="Text">Text</option>
                            </select>
                            <!-- Ändra inte namn eller typ på Skicka-knappen. För att ändra den synliga texten, ändra istället texten för \ "värde \" -->
                            <input type="hidden" name="pf_FormType" value="OptInForm">
                            <input type="hidden" name="pf_OptInMethod" value="SingleOptInMethod">
                            <input type="hidden" name="pf_CounterDemogrFields" value="0">
                            <input type="hidden" name="pf_CounterMailinglists" value="1">
                            <input type="hidden" name="pf_AccountId" value="5353">
                            <input type="hidden" name="pf_ListById" value="1">
                            <input type="hidden" name="pf_Version" value="2">
                    </form>
                </div>

                <div class="footer-social-media">
                    <label>Följ Newton i sociala medier</label>

                    <div>

                        <span class="social-button">
                            <a target="_blank" href="https://www.facebook.com/Newton.Yh"><i class="fa fa-facebook"></i>Facebook</a>
                        </span>

                        <span class="social-button">
                            <a target="_blank" href="http://instagram.com/newtonyh"><i class="fa fa-instagram"></i>Instagram</a>
                        </span>


                        <span class="social-button">
                            <a target="_blank" href="https://www.linkedin.com/company/newton-kompetensutveckling"><i class="fa fa-linkedin"></i>LinkedIn</a>
                        </span>

                        <span class="social-button">
                            <a target="_blank" href="https://www.youtube.com/channel/UCmPK24ACND0bYiirPOp7gYA"><i class="fa fa-youtube"></i>YouTube</a>
                        </span>

                    </div>

                </div>

                <a class="link-read-more footer-student-portal-link" href="https://newton.learnpoint.se/LoginForms/LoginForm.aspx?ReturnUrl=%2f"><i class="plain-icon icon-read-more"></i> Logga in på studentportalen</a>

            </div>

            <div class="menu-footer-lankar-container">
                <ul id="menu-footer-lankar" class="footer-menu col-md-12 col-lg-8">
                    <li id="menu-item-1501" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-1501">
                        <a href="/utbildningar/filter/yh/">Yrkeshögskoleutbildningar</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2304" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2304"><a href="http://www.newton.se/utbildning/energi-och-miljosamordnare/">Energi- och miljösamordnare</a></li>
                            <li id="menu-item-2306" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2306"><a href="http://www.newton.se/utbildning/fastighetsforvaltare/">Fastighetsförvaltare</a></li>
                            <li id="menu-item-2302" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2302"><a href="http://www.newton.se/utbildning/kravanalytikerit/">Kravanalytiker IT</a></li>
                            <li id="menu-item-2544" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2544"><a href="http://www.newton.se/utbildning/systemutvecklare-java/">Systemutvecklare JAVA</a></li>
                            <li id="menu-item-2300" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2300"><a href="http://www.newton.se/utbildning/systemutvecklare-net-malmo/">Systemutvecklare .NET</a></li>
                            <li id="menu-item-2303" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2303"><a href="http://www.newton.se/utbildning/teknisk-foretagssaljare/">Teknisk Företagssäljare</a></li>
                            <li id="menu-item-2543" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2543"><a href="http://www.newton.se/utbildning/vvs-ingenjor/">VVS-ingenjör</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-1502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1502">
                        <a href="/utbildningar/filter/diplom/">Diplomutbildningar</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2308" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2308"><a href="http://www.newton.se/utbildning/diplomerad-fastighetsforvaltare/">Diplomerad Fastighetsförvaltare</a></li>
                            <li id="menu-item-2309" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2309"><a href="http://www.newton.se/utbildning/fastighetsekonom/">Diplomerad Fastighetsekonom</a></li>
                            <li id="menu-item-2307" class="menu-item menu-item-type-post_type menu-item-object-education menu-item-2307"><a href="http://www.newton.se/utbildning/projektledare/">Diplomerad Projektledare Bygg/Fastighet</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-2294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2294">
                        <a href="http://www.newton.se/tjanster/">Företag</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2295"><a href="http://www.newton.se/tjanster/uppdragsutbildningar/">Uppdragsutbildningar</a></li>
                            <li id="menu-item-2296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2296"><a href="http://www.newton.se/tjanster/seminarier/">Seminarier</a></li>
                            <li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2297"><a href="http://www.newton.se/tjanster/lets-talk-about/">Let&#8217;s talk about</a></li>
                            <li id="menu-item-1481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1481"><a href="http://www.newton.se/tjanster/auktorisation/">AFF-Auktorisation</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-1441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1441">
                        <a href="http://www.newton.se/om-newton/">Om Newton</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1987"><a href="http://www.newton.se/om-newton/alumni/">Alumni</a></li>
                            <li id="menu-item-2292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="http://www.newton.se/om-newton/aktuellt/">Aktuellt</a></li>
                            <li id="menu-item-1495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1495"><a href="http://www.newton.se/om-newton/sir-isaac-newton/">Sir Isaac Newton</a></li>
                            <li id="menu-item-1493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1493"><a href="http://www.newton.se/om-newton/lediga-tjanster/">Lediga tjänster</a></li>
                            <li id="menu-item-1492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1492"><a href="http://www.newton.se/om-newton/kontakta-oss/">Kontakta Newton</a></li>
                            <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="http://www.newton.se/om-newton/ledning/">Affärsidé och Ledning</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script type='text/javascript' src='http://www.newton.se/content/themes/newton/assets/js/scripts.min.js?3364bce2cc4137a565487ed4ec6838a5'></script>

    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"34d42dbdf2","applicationID":"2389375","transactionName":"YFRTZBNZCBVTUURfDVkeZEIIFw8IVldIGBJfQQ==","queueTime":0,"applicationTime":3,"atts":"TBNQEltDGxs=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script>
</body>
</html>

<!-- Dynamic page generated in 0.481 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2015-05-22 03:34:50 -->
